SECRET_KEY={Use "scripts/generate_secret_key.py" or this to generate one: https://djskgen.herokuapp.com/}
PRODUCTION={Boolean as 0 (false) or 1 (true); false by default}
DEBUG={Boolean as 0 (false) or 1 (true); false if in PRODUCTION, else true}
DATABASE_URL={PROTOCOL}://{USER}[:{PASSWORD}]@{HOST}[:{PORT}]/{DATABASE_NAME}
ALLOWED_HOSTS={Lists of hosts separated by comma}
CELERY_ALWAYS_EAGER={Boolean as 0 (false) or 1 (true); false by default; set true to attach celery process}
CELERY_BROKER_URL={Redis URL}
STRIPE_API_KEY={Get it at https://dashboard.stripe.com/account/apikeys}
